# 라이브러리 import

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import gc;gc.collect
import datetime

from subprocess import check_output

# 데이터 로드

In [10]:
data_path = './data/'

In [11]:
train = pd.read_csv(data_path + 'train.csv')

d:\users\server-dclabs02\anaconda3\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# PreProcessing

In [12]:
train["date"] =  pd.to_datetime(train["date"])
train_2016 = train[train["date"].dt.year == 2016]
date_list=np.unique(train_2016["date"])
del train; gc.collect()

1365

In [13]:
train_2016.drop("id",axis=1,inplace=True)
train_2016.drop("onpromotion",axis=1,inplace=True)
train_2016.fillna(0, inplace=True)
train_2016.head(5)

               date  store_nbr  item_nbr  unit_sales
66458908 2016-01-01         25    105574        12.0
66458909 2016-01-01         25    105575         9.0
66458910 2016-01-01         25    105857         3.0
66458911 2016-01-01         25    108634         3.0
66458912 2016-01-01         25    108701         2.0

# 메모리 감소 (Memory Reduction)

In [14]:
memo = train_2016.memory_usage(index=True).sum()
print(memo/ 1024**2," MB")

1343.9129257202148  MB

In [15]:
print(train_2016.dtypes)

date          datetime64[ns]
store_nbr              int64
item_nbr               int64
unit_sales           float64
dtype: object

In [16]:
train_2016['store_nbr'] = train_2016['store_nbr'].astype(np.int8)
train_2016['item_nbr'] = train_2016['item_nbr'].astype(np.int32)
train_2016['unit_sales'] = train_2016['unit_sales'].astype(np.int8)

In [17]:
memo = train_2016.memory_usage(index=True).sum()
print(memo/ 1024**2," MB")

739.1521091461182  MB

In [18]:
train_2016.to_csv(data_path + 'train_2016.csv', index=False)